/* GLOBAL CSS */

:root {
  --cardFromRight: #acbea3;
  --cardFromLeft: #120d31;
  --rotate: #8de969;
}

.flexColCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Vanlig CSS */

body {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  height: 100vh;
  gap: 50px;
}

.card {
  max-width: 500px;
  min-width: 300px;
  border-style: solid;
  border-width: 2px;
  border-color: lightgrey;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 2px 2px 7px #d3d3d3;
}

.slideInLeftCard {
  background-color: var(--cardFromLeft);
  color: whitesmoke;

  /* Setter opp en long-hand animasjon properties */
  animation-name: slideInLeft; /* Navnet på animasjonen */
  animation-duration: 5s; /* Hvor lenge skal animasjonen vare */
  animation-timing-function: ease-in; /* Hvordan skal animasjonen bevege seg */
  animation-iteration-count: 3; /* Hvor mange ganger skal animasjonen kjøres */
  animation-fill-mode: forwards; /* Hvor animasjonen skal stå når den er ferdig */
}

.slideInRightCard {
  background-color: var(--cardFromRight);

  /* Setter opp en short-hand animasjon properties */
  /* Starter med name, duration, timing-function, iteration-count, fill-mode*/
  animation: slideInRight 5s ease-in 3 forwards;
}

.rotateCard {
  padding: 20px;
  width: 100px;
  height: 100px;
  background-color: var(--rotate);

  /* Setter opp en long-hand animasjon properties */
  animation-name: rotate; 
  animation-duration: 5s; 
  animation-timing-function: ease-in; 
  animation-iteration-count: 1; 

  /* Setter opp en short-hand animasjon properties */
  animation: rotate 5s ease-in-out 1;
}

.hoverBtnContainer {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 10px;
  width: 100px;
  border-radius: 40px;
  border-width: 1px;
  border-color: lightgrey;
  border-style: solid;
  box-shadow: 2px 2px 5px lightgrey;

  /* Setter en transition som skal gå på alle element som har .btn som class-navn */
  transition-duration: 700ms;
  transition-timing-function: ease-in-out;
}

/* Setter en defeault som setter lav synlighet */
.btnOpacity {
  opacity: 0.3;
}

/* Setter en psuedo:hover som setter høyere synlighet */
.btnOpacity:hover {
  opacity: 1;
}

/* Setter en psuedo:hover som bytter farge */
.btnColor:hover {
  background-color: red;
}

/* Setter en psuedo:hover som justerer størrelse */
.btnSize:hover {
  scale: 1.2;
}


/* Keyframe som aktiverer at vi har en animasjon som skal ha ulike steg */
@keyframes slideInLeft {
  /* Startpunkt */
  from {
    transform: translateX(-1000px)
  }
  /* Sluttpunkt */
  to {
    transform: translateX(0);
  }
}

/* Keyframe som aktiverer at vi har en animasjon som skal ha ulike steg */
@keyframes slideInRight {
  /* Startpunkt */
  from {
    transform: translateX(1000px)
  }
  /* Sluttpunkt */
  to {
    transform: translateX(0);
  }
}

/* Keyframe som aktiverer at vi har en animasjon som skal ha ulike steg */
@keyframes rotate {
  /* Startpunkt */
  0% {
    scale: 0;
    transform: rotate(0);
    border-radius: 0;
  }
  /* Midtpunkt */
  50% {
    scale: 1.5;
    transform: rotate(0);
    border-radius: 0;
  }
  /* Sluttpunkt */
  100% {
    scale: 2;
    transform: rotate(360deg);
    border-radius: 100%;
  }
}